@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: rgb(31, 25, 37);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Barlow Condensed', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  @apply text-slate-300
}

* {
  box-sizing: border-box;
  color: whitesmoke;
}

h1,h2,h3,h4,h5,h6 {
  font-family: acier-bat-solid;
}

@layer base {
  .main-content {
    @apply max-w-[1280px] mx-auto !px-10 !py-36;
  }
}

.main-heading {
  filter: drop-shadow(0px 0px 4px rgba(249, 249, 149, 0.7));
}

.underline-heading {
  position: relative;
  z-index: 5; 
}

.underline-heading::before {
  content: "";
  width: 100%;
  height: 8px;
  border-radius: 1px;
  background-color: #2E78C7;
  position: absolute;
  bottom: 3px;
  left: 4px;
  z-index: -1;
}

.underline-heading-teal {
  position: relative;
  z-index: 5;
}

.underline-heading-teal::before {
  content: "";
  width: 100%;
  height: 8px;
  border-radius: 1px;
  background-color: #4f9c96;
  position: absolute;
  bottom: 3px;
  left: 4px;
  z-index: -1;
}

.underline-heading-gradient {
  position: relative;
  z-index: 5;
}

.underline-heading-gradient::before {
  content: "";
  width: 100%;
  height: 8px;
  border-radius: 1px;
  background-image: linear-gradient(to right,#DB1FFF, #04E1FF, #01FFA2 );
  opacity: 75%;
  position: absolute;
  bottom: 3px;
  left: 4px;
  z-index: -1;
}

.underline-heading-yellow {
  position: relative;
  z-index: 5;
}

.underline-heading-yellow::before {
  content: "";
  width: 100%;
  height: 8px;
  border-radius: 1px;
  @apply bg-yellow-400;
  opacity: 75%;
  position: absolute;
  bottom: 3px;
  left: 4px;
  z-index: -1;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}


.subHeading {
  font-family: "Barlow Condensed";
  line-height: 1;
  margin-bottom: 8px;
  font-size: 18px;
  color: rgb(210, 224, 253)
}

.swiper-pagination-bullet {
  background: white !important;
}

.dots-background {
  position: relative;
}

.dots-background::before {
  content: url('/dots.svg');
  position: absolute;
  transform: translate(-25px, -25px);
  width: 100%;
  height: 100%;
  opacity: 50%;
}

.dots-background-right {
  position: relative;
}

.dots-background-right::before {
  content: url('/dots.svg');
  position: absolute;
  transform: translate(50px, -25px);
  width: 100%;
  height: 100%;
  opacity: 65%;
}

.scroll-down {
  border: 2px solid #FCD42E;
  border-radius: 20px;
  bottom: 60px;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 30px;
}

.scroll-down::before {
  animation: scrollDownAnimation 2s infinite;
  background-color: #FCD42E;
  border-radius: 100%;
  content: '';
  height: 6px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 10px;
  width: 6px;
}

@keyframes scrollDownAnimation {

  0% {
    opacity: 0;
    transform: translate(0, 0);
  }

  40% {
    opacity: 1;
  }
  
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }

  100% {
    opacity: 0;
  }
}